@font-face {
  font-family: 'iconfont';  /* project id 963628 */
  src: url('//at.alicdn.com/t/font_963628_up4p4rem5f.eot');
  src: url('//at.alicdn.com/t/font_963628_up4p4rem5f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_963628_up4p4rem5f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_963628_up4p4rem5f.woff') format('woff'),
  url('//at.alicdn.com/t/font_963628_up4p4rem5f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_963628_up4p4rem5f.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-spin:before {
  -webkit-animation:rotate 1s infinite linear;
  animation:rotate 1s infinite linear;
  display: inline-block;
}

@-webkit-keyframes rotate{
  from{-webkit-transform: rotate(0deg)}
  to{-webkit-transform: rotate(360deg)}
}

@keyframes rotate{
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}
.icon-icnext:before {
  content: "\e63f";
}

.icon-setting:before {
  content: "\e608";
}

.icon-mobile:before {
  content: "\e610";
}

.icon-guanji:before {
  content: "\e654";
}

.icon-jia:before {
  content: "\e632";
}

.icon-bianji:before {
  content: "\e613";
}

.icon-more:before {
  content: "\e628";
}

.icon-loadc:before {
  content: "\e81c";
}

.icon-luyin:before {
  content: "\e641";
}

.icon-zuoye:before {
  content: "\e625";
}

.icon-zuoye1:before {
  content: "\e814";
}

.icon-check:before {
  content: "\e617";
}

.icon-load:before {
  content: "\e60a";
}

.icon-ziyuan:before {
  content: "\e63c";
}

.icon-spinner:before {
  content: "\e71c";
}

.icon-left:before {
  content: "\e609";
}

.icon-zuoye2:before {
  content: "\e61c";
}

.icon-laba:before {
  content: "\e600";
}

.icon-lock:before {
  content: "\e7c9";
}

.icon-zhuyaorenyuan:before {
  content: "\e637";
}

.icon-qiehuan:before {
  content: "\e60d";
}

.icon-close:before {
  content: "\e61f";
}

.icon-safe:before {
  content: "\e611";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8ed";
}